@model TerminalTransporte.Models.Tiquete

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutEmpleados.cshtml";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Tiquete</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Codigo_factura)
    <div class="form-group">
        @Html.LabelFor(model => model.fecha_factura, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fecha_factura, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fecha_factura, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Nit_Empresa, "Nit_Empresa", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Nit_Empresa", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nit_Empresa, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Cedula_Cliente, "Cedula_Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Cedula_Cliente", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Cedula_Cliente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.origen_ciudad, "origen_ciudad", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("origen_ciudad", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.origen_ciudad, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Destino_ciudad, "Destino_ciudad", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Destino_ciudad", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Destino_ciudad, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Placa_bus, "Placa_bus", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Placa_bus", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Placa_bus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Documento_Conductor, "Documento_Conductor", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Documento_Conductor", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Documento_Conductor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.id_Empleado, "id_Empleado", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("id_Empleado", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_Empleado, "", new { @class = "text-danger" })
        </div>
    </div>






    <div class="form-group">
        @Html.LabelFor(model => model.cantida_tiquetes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cantida_tiquetes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cantida_tiquetes, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.total_pagar_Tiquete, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.total_pagar_Tiquete, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.total_pagar_Tiquete, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink(" ", "Index", new { id = "Create" }, new { @class = "glyphicon glyphicon-share-alt" })
</div>
