@model TerminalTransporte.Models.Reserva

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>Crear Reserva</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.fecha_Reserva, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fecha_Reserva, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fecha_Reserva, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.origen_ciudad, "origen_ciudad", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("origen_ciudad", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.origen_ciudad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Destino_ciudad, "Destino_ciudad", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Destino_ciudad", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Destino_ciudad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nit_Empresa, "Nit_Empresa", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Nit_Empresa", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nit_Empresa, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Cedula_cliente, "Cedula_cliente", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Cedula_cliente", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Cedula_cliente, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.cantida_tiquetes_Reserva, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cantida_tiquetes_Reserva, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cantida_tiquetes_Reserva, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.total_pagar_Reserva, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.total_pagar_Reserva, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.total_pagar_Reserva, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>

</div>
