@model TerminalTransporte.Models.Reserva

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_Reserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_Reserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantida_tiquetes_Reserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantida_tiquetes_Reserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_pagar_Reserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_pagar_Reserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad.Nombre_ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.Nombre_ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad1.Nombre_ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad1.Nombre_ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Nombre_Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Nombre_Empresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Reserva }) |
    @Html.ActionLink("Back to List", "Index")
</p>
